<section id="contact">
    <div id="contact-heading">
        <span id="contact-heading-span"><i class="far fa-address-card"></i>  Contact </span>
    </div>
    <div id="contact-details">
        <div id="contact-details-container">
             <form id="contact-form">
                 <input type="text" name="name" placeholder="Your Name"   required>
                 <input type="email" name="email" placeholder="Your Email" required>
                  
                 <textarea name="message" rows="2" cols="40" placeholder="Your Message" required></textarea> 
                 <button type="submit">
                     SEND MESSAGE
                 </button>
             </form>
         </div>
         <div id="get-in-touch">
             <h1>Get In touch</h1>
             <!-- <p>
                  My motto of life remains as “There is no alternative of hard work and sooner or later will be rewarded”.
             </p> -->
          
             <h1>Office Address</h1>
             <div id="loc">
                 <i class="fas fa-map-marker"></i><span>Hyderabad,India</span>
             </div>
             <div id="loc">
                  <i class="fas fa-mobile-alt"></i><a href="tel:9876543210">9876543210</a>
             </div>
             <div id="loc">
                 <i class="far fa-envelope"></i><a href="mailto:deepak@gmail.com">mailto@restaruant.com</a>
             </div>
             
         </div>
    </div>
    <div>
     <ul class="horizontal text-center social-icons spacing">
             <li>
                 <a href="https://www.linkedin.com/in/deepak-heerakari-12b11b174/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
             </li>
             <li>
                 <a href="https://stackoverflow.com/" target="_blank"><i class="fab fa-stack-overflow"></i></a>
             </li>
             <li>
                 <a href="https://mail.google.com/mail/u/0/" target="_blank"><i class="fab fa-google-plus-g"></i></a>
             </li>
             <li>
                 <a href="https://www.facebook.com/deepak.h1999/" target="_blank"><i class="fab fa-facebook-f"></i></a>
             </li>
             <li>
                 <a href="https://www.quora.com/" target="_blank"><i class="fab fa-quora"></i></a>
             </li>
         </ul>
         </div>
</section>	