<app-header></app-header>
<mat-card>
  <mat-card-title>
    Category
  </mat-card-title>
  <mat-card-subtitle>List Of Categories</mat-card-subtitle>
  <button mat-raised-button color="primary" (click)="addnewCategory()">Add New Category</button>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <!-- <th>Icon</th> -->
      <!-- <th>Color</th> -->
      <!-- <tr>
        <th></th>
      </tr> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of categoryList">
      <td scope="col">{{ list.id }}</td>
      <td scope="col">{{ list.name }}</td>
      <!-- <td scope="col">{{ list.icon }}</td> -->
      <!-- <td scope="col">{{ list.color }}</td> -->
      <td scope="col" > 
        <button mat-flat-button color="accent" style="margin-right: 2rem;" (click)='deleteCategory(list)'>Delete</button> 
        <button mat-flat-button color="warn" (click)='updateCategory(list)'>Edit</button>
      </td>
    </tr>
  </tbody>
</table>
</mat-card>

