<mat-card>
    <mat-card-title>
      <h3 *ngIf="editMode; then thenBlock; else showmessage">Users</h3>
      <ng-template #thenBlock>Edit Users</ng-template>
      <ng-template #showmessage>Add Users</ng-template>
    </mat-card-title>
    <mat-card-subtitle>Add or edit users</mat-card-subtitle>
    <form [formGroup]="userForm" (submit)="onSubmit()">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name" />
        <small>
          <mat-error *ngIf="this.userForm.controls['name'].invalid && isSubmitted">
            Name is Required
          </mat-error>
        </small>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email" placeholder="abc@xyz.com">
        <small>
          <mat-error *ngIf="this.userForm.controls['email'].invalid && isSubmitted">
            Email Is Required
            <!-- <span *ngIf="this.userForm.controls['email'].errors.required">Email is Required</span>
            <span *ngIf="this.userForm.controls['email'].invalid">Invalid Email Id</span> -->
          </mat-error>
        </small>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="passwordHash" />
        <small>
          <mat-error *ngIf="this.userForm.controls['passwordHash'].invalid && isSubmitted">
            Password is Required
          </mat-error>
        </small>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Phone</label>
        <input type="string" class="form-control" formControlName="phone" placeholder="+91-9999999999">
        <small>
          <mat-error *ngIf="this.userForm.controls['phone'].invalid && isSubmitted">
            Phone is Required
          </mat-error>
        </small>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">IsAdmin</label>
        <mat-slide-toggle formControlName="isAdmin"></mat-slide-toggle>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Street</label>
        <input type="text" class="form-control" formControlName="street" />
      </div>
  
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Apartment</label>
        <input type="text" class="form-control" formControlName="apartment" />
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">City</label>
        <input type="text" class="form-control" formControlName="city" />
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Zip</label>
        <input type="text" class="form-control" formControlName="zip" />
      </div>
  
      <!-- <div class="mb-3">
        <mat-label>Select Category</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let i of categoriesList" [value]="i.id">
            {{i.name}}
          </mat-option>
        </mat-select>
        <small>
          <mat-error *ngIf="this.userForm.controls['category'].invalid && isSubmitted">
            Category is Required
          </mat-error>
        </small>
      </div> -->
      <div class="mb-3"> 
        <label for="exampleFormControlInput1" class="form-label">Country</label>
        <select class="form-select" aria-label="Default select example" formControlName="country">
          <option selected>Open this select menu</option>
          <option value="India">India</option>
          <option value="USA">USA</option>
          <option value="Australia">Australia</option>
        </select>
      </div>
      

      <button mat-raised-button color="primary">
        <h3 *ngIf="editMode; then thenBlock; else showmessage">
          <ng-template #thenBlock>Update</ng-template>
          <ng-template #showmessage>Create</ng-template>
        </h3>
      </button>
    </form>
  </mat-card>
  