<!-- 
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <div>
            <h2 (click)="category()">
                Category
            </h2>
        </div>
        <div>
            <h2 (click)="products()">
                Products
            </h2>
        </div>
        <div>
            <h2 (click)="orders()">
                Orders
            </h2>
        </div>
        <div>
            <h2 (click)="users()">
                Users
            </h2>
        </div>
        <div>
            <h2 (click)="logout()">
                LogOut
            </h2>
        </div>
    </mat-drawer>
    <mat-drawer-content>
         <input type="text" placeholder="Find Product" name=>
        
    </mat-drawer-content>
  </mat-drawer-container> -->

<app-header></app-header>
