.cart-page{
    min-height:500px;
    .cart-item{
        &-shipping{
            color: green
        }
        &-image{
            img{
                height: 120px;
                max-width: 100%;
            }
        }
        &-name{
            font-weight: 600;
            font-size: 1.2rem;
            margin-bottom: 15px;
        }
        &-price{
            font-weight: 600;
            font-size: 1.2rem;
            margin-bottom: 15px;
            color: chocolate;
        }
    }
}